@font-face {
    font-family: "Lato_bold";
    src: local(Lato_bold), 
    url(/fonts/Lato-Bold.woff2) format("woff2"), 
    url(/fonts/Lato-Bold.woff) format("woff"), 
  }

  @font-face {
    font-family: "Lato_regular";
    src: local(Lato_regular), 
    url(/fonts/Lato-Regular.woff2) format("woff2"), 
    url(/fonts/Lato-Regular.woff) format("woff"), 
  }

  @font-face {
    font-family: "Lato_thin";
    src: local(Lato_thin), 
    url(/fonts/Lato-Thin.woff2) format("woff2"), 
    url(/fonts/Lato-Thin.woff) format("woff"), 
  }
  

body {
    margin: 0;
    font-family: "Lato_regular";
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
        }
    }
    a {
        text-decoration: none;
    }
    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }
    h1 {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    .feed_container {
        .article_post {
            padding: 16px;
            max-width: 250px;
            margin-bottom: 16px;
            box-shadow: 1px 1px 5px blue;
            border-radius: 12px;
            margin-top: 20px;
            li {
                padding-bottom: 16px;
                ul {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }
            li:first-of-type {
                ul {
                    li:first-of-type {
                        img {
                            width: 22px;
                            height: 22px;
                            border-radius: 14px
                        }
                    }
                } 
            }
            li:nth-of-type(3) {
                img {
                    max-width: 100%;
                }
            }
            li:last-of-type {
                button {
                    border-radius: 12px;
                    background-color: white;
                    color: blue;
                    font-size: 16px;
                    padding: 10px 15px;
                    outline: none;
                    cursor: pointer;
                    border: 1px solid blue;
                }
                button:hover {
                    background-color: darkgreen;
                    color: yellow;
                    border: none;
                    box-shadow: 1px 1px 2px black;
                }
            }
        }
    }
    .add_post {
        position: relative;
        margin-top: 20px;
        padding: 20px;
        box-shadow: 1px 1px 4px blue;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        #text {
            margin-bottom: 10px;
            font-size: 20px;
            border-radius: 12px;
            outline: none;
        }
        input {
            max-width: 90%;
            border: none;
            background-color: rgb(133, 133, 234);
            padding: 12px 20px;
            outline: none;
            cursor: pointer;
            border-radius: 12px;
            color: white;
            font-size: 20px;
        }
        button {
            margin-top: 10px;
            width: 100px;
            padding: 10px 16px;
            font-size: 16px;
            background-color: rgb(195, 195, 195);
            border-radius: 12px;
            outline: none;
            border: none;
        }
    }
}

@media(min-width: 720px) {
    body {
        padding: 0;
        max-width: 600px;
        margin: auto;
    }
}